
@{
	ViewData["Title"] = "Temporary Blocked";
}

<h2 class="text-danger">Your acccount blocked temporarily</h2>
<p class="lead">We have detected malicious login attempt to the system. Thus, we blocked your account temporarily</p>

