
@{
	ViewData["Title"] = "Email Confirmed";
}

<h3 class="text-primary">Your account has been activated!</h3>
<p class="mt-3">Click the <a asp-action="Login" asp-controller="Auth" class="btn btn-sm btn-primary">Login</a> button to proceed</p>

