@model ExtendEFIdentity.Models.TwoFactorTokenViewModel

@{
	ViewData["Title"] = "Verify Two Factor Token";
}

<h3 class="text-primary">Verify Two Factor Token</h3>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="VerifyTokenTwoFactorToken">
			@Html.AntiForgeryToken()
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="UserId" class="form-control" type="hidden" />
			<input asp-for="Provider" class="form-control" type="hidden" />

			<div class="form-group">
				<label asp-for="Token" class="control-label"></label>
				<input asp-for="Token" class="form-control" />
				<span asp-validation-for="Token" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Validate" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
