@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2 class="text-primary">Welcome to ASP.NET Core Identity Demo</h2>
	<p class="lead font-weight-bold">Provided by: <a href="https://www.linkedin.com/in/mirzaghulamrasyid/" target="_blank">Mirza Ghulam Rasyid</a></p>
</div>
